/* You can add global styles to this file, and also import other style files */

// colors
$gray: #eeecf2;
$orange: #ff8d16;
$black: #030100;
body {
    font-family: montserrat;
    margin: 0;
    background-color: $gray;
    color: $black;
}